NODE_ENV=development
PORT=4001

# Local Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=kickstart
DB_USER=postgres
DB_PASS=postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kickstart?schema=public"

# Production Database Configuration
PROD_DB_HOST=your_production_host
PROD_DB_PORT=5432
PROD_DB_NAME=postgres
PROD_DB_USER=postgres
PROD_DB_PASS=your_production_password
PROD_PORT=4000
PROD_DATABASE_URL="postgresql://postgres:your_password@your_host:5432/postgres?schema=public"

# JWT Authentication
JWT_SECRET="your_jwt_secret_key"
PROD_JWT_SECRET="your_prod_jwt_secret_key"

# Email Service (Gmail SMTP)
EMAIL_USER=shannovaotpsender@gmail.com
EMAIL_PASS=your_gmail_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465

CORS_ORIGIN=http://localhost:5173
